@model Socio
@{
    ViewData["Title"] = "Painel de Professores";
}

<h1 style="color:#4CAF50">Painel de Professores</h1>
<head>
    <style>

        .SocioNavigation ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: auto;
            background-color: #f1f1f1;
            height: auto; /* tamanho automatico vertical */
            position: fixed; /* Make it stick, even on scroll */
            overflow: auto; /* Enable scrolling if the sidenav has too much content */
        }

        .SocioNavigation li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

            .SocioNavigation li a:hover {
                background-color: #4CAF50;
                color: white;
            }

        .SocioNavigation active {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<div class="SocioNavigation">
    <ul>
        <li><a href="Professores/RegistarPesoSocio">Registar peso de sócio</a></li>
        <li><a href="Professores/CriarPlanoExercicioSocio">Criar plano de exercício para sócio</a></li>
        <li><a href="Professores/ConsultarMapaAulas">Consultar mapa de aulas de grupo que leciono</a></li>
        <li><a href="Professores/ConsultarSociosInscritosAulas">Consultar sócios inscritos nas minhas aulas</a></li>
        <li><a href="Professores/ConsultarMeusAlunos">Consultar os meus alunos</a></li>
        <li><a href="Professores/LerArquivarMensagens">Ler/arquivar mensagens</a></li>



       

    </ul>
</div>
