
@model IEnumerable<HealthUp.Models.Aula>


<div class="row">
    <div class="column">
        <table class="content-table">
            <thead>
                <tr>
                    <th>
                        Aulas
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.Lotacao > item.Inscreve.Count)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AulaGrupoNavigation.Nome)
                        </td>


                        @if (!item.Inscreve.Contains(new Inscreve() { NumSocio = ViewBag.Socio, IdAula = item.IdAula }))
                        {
                            <td>
                                <a asp-action="Inscrever" asp-route-aula="@item.IdAula">Inscrever</a> |
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Desinscrever" asp-route-aula="@item.IdAula">Desinscrever</a> |
                            </td>
                        }
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>



