<h1>Plano Semanal</h1>


<form asp-action="PartialPlanoSemanal"
      data-ajax="true"
      data-ajax-method="GET"
      data-ajax-mode="replace"
      data-ajax-update="#planosemanal">
    <label>Selecione a data:</label>
    <input type="week" name="week" min="2015-W1" max="2030-W1" required>
    <input type="submit" value="Visualizar" />
</form>



<div id="planosemanal"></div>