@model HealthUp.Models.Aula

@{
    ViewData["Title"] = "Editar Aula";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>Editar Aula</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditAula" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdAula" />
                <div class="form-group">
                    <label asp-for="NumProfessor" class="control-label"></label>
                    <select name="IdProfessor" class="form-control" asp-items="ViewBag.NomeProfessor"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ValidoDe" class="control-label"></label>
                    <input asp-for="ValidoDe" class="form-control" />
                    <span asp-validation-for="ValidoDe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidoAte" class="control-label"></label>
                    <input asp-for="ValidoAte" class="form-control" />
                    <span asp-validation-for="ValidoAte" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lotacao" class="control-label"></label>
                    <input asp-for="Lotacao" class="form-control" />
                    <span asp-validation-for="Lotacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoraInicio" class="control-label"></label>
                    <input type="time" id="appt" name="HoraInicio" min="07:00" max="21:00" required>
                    <span asp-validation-for="HoraInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label name="DiaSemana" class="control-label">Dia da Semana</label>
                    <select name="DiaSemana" class="form-control" asp-items="ViewBag.DiaSemana"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ListAulas">Back to List</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


